.filterLabel {
  font-size: 24px;
  font-weight: 700;
}

.filterInput {
  width: 320px;
  height: 50px;
  padding: 4px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: rgb(48, 50, 69);
  font-size: 18px;
  color: rgb(238, 238, 238);
}
